<h2>{{model.name}}</h2>

{{#paper-button raised=true primary=true action='tether'}}Prime Swarm{{/paper-button}}
{{#paper-button raised=true primary=true action='captureTethered'}}Take Picture{{/paper-button}}

{{link-to 'Nodes' 'swarms.nodes' model}}